html, body {
    min-height: 100%;
}

body {
    background: rgb(0,0,87);
    background: linear-gradient(31deg, rgb(54, 54, 54) 0%, rgb(17, 17, 17) 100%); 

    color: white;
    margin: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.flex-across {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo {
    margin-left: 30px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
}

.links {
    width: 60%;
    margin-left: auto;
}

.links a {
    font-family: 'Roboto Thin', sans-serif;
    color: white;
    margin: auto;
}

#main_content {
    margin-top: 30vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#main_content p {
    margin-left: 20%;
    margin-right: 20%;
    font-size: xx-large;
}

.socials {
    width: 60%;
    margin: auto;
    margin-top: 10vh;
}

.socials a {
    color: white;
    margin: auto;
}

.fa, .fab, .far {
    font-size: 50px;
}

footer {
    font-family: 'Roboto Thin', sans-serif;
    color: white;
    position: fixed;
    bottom: 0;
}