html, body {
    min-height: 100%;
}

body {
    background: rgb(0,0,87);
    background: linear-gradient(31deg, rgb(54, 54, 54) 0%, rgb(17, 17, 17) 100%); 

    color: white;
    margin: none;
}

h1, p, a {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.flex-across {
    display: flex;
    flex-direction: row;
    width: 100%;
}

a {
    text-decoration: none;
}

nav {
    width: 30%;
    text-align: center;
}

#display_pic {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin-top: 20px;
}

#tag_line {
    color: lightgrey;
}

.links a {
    margin: 5px;
}

#main_content {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
}

#main_content p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}

#main_content h3 {
    margin-left: 10%;
    margin-right: 10%;
}

.fa, .fab, .far {
    font-size: 50px;
}

footer {
    font-family: 'Roboto Thin', sans-serif;
    color: white;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 1000px) {

    .flex-across {
        flex-direction: column;
    }

    nav {
        width: 100%;
    }

    #main_content {
        width: 100%;
    }
}